html {
	scroll-behavior: horizontal;
}

/* 🗝️ BANNIERE = LOGO + BARRE DE NAVIGATION */

.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.banner-item-1 {
	flex: 1 2 auto;
}

.banner-item-2 {
	flex: 1 1 auto;
}


/* 🗝️ LOGO */

.logo-container {}

img {
	height: 12px;
}


/* 🗝️ BARRE de NAVIGATION */

.navigation-bar {}

.navigation-links {}


/* 🗝️ RESEAUX SOCIAUX */

.social-media-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.social-media-links {}