html {
	scroll-behavior: horizontal;
}

#banner {

}

#brand {

}

#logo {

}

#navigation-bar { 

}

.banner-items {

}

.navigation-links{

}

title {
	animation: blink 2s;
}

.social-media-links {

}

#social-media-container {

}

section {

}

aside {

}

main {
background-color: ;
}

footer {
background-color: ;
}

input[type="search"] {
	border-radius: 5px;
}