html {
	scroll-behavior: horizontal;
}

#banner {

	margin: ;
}

#brand {
	padding: ;
	margin: ;
}

#logo {
	padding: ;
	margin: ;

}

#navigation-bar { 
	padding: ;
	margin: ;
}

.banner-items {
	padding: ;
	margin: ;
}

.navigation-links{
	padding: ;
	margin: ;
}

title {
	animation: blink 2s;
}

.social-media-links {
	padding: ;
	margin: ;
}

#social-media-container {

	margin: ;
}

section {
	padding: ;
	margin: ;
}

aside {
	padding: ;
	margin: ;
}



footer {
	background-color: ;
}

input[type="search"] {
	border-radius: 5px;
}

input [type="submit"] {

}

main {

	margin: ;
}

body {
	
}

figcaption {

	margin: ;
}

figure {

	margin: ;
}






